body,
h1,
h2,
h3,
h4,
h5,
h6 {
    margin: 0;
    padding: 0
}

body {
    font: 400 16px/1.5 europa, Arial, sans-serif;
    color: #000;
    -webkit-text-size-adjust: 100%;
    -webkit-font-feature-settings: "kern" 1;
    -moz-font-feature-settings: "kern" 1;
    -o-font-feature-settings: "kern" 1;
    font-feature-settings: "kern" 1;
    font-kerning: normal;
    opacity: .1;
    -webkit-transition: all 1s ease;
    transition: all 1s ease;
}

.loaded {
    opacity: 1;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    margin-bottom: 15px
}

img {
    max-width: 100%;
    vertical-align: middle
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 400
}

.wrapper {
    max-width: 1140px;
    margin-right: auto;
    margin-left: auto;
    padding-right: 30px;
    padding-left: 30px
}

@media screen and (max-width: 800px) {
    .wrapper {
        max-width: -webkit-calc(800px - (30px));
        max-width: calc(800px - (30px));
        padding-right: 15px;
        padding-left: 15px
    }
}

.wrapper:after,
.footer-col-wrapper:after {
    content: "";
    display: table;
    clear: both
}

html,
body {
    overflow-x: hidden
}

.intro {
    font-size: 38px;
    padding-bottom: 45px
}

@media screen and (max-width: 600px) {
    .intro {
        font-size: 30px;
        padding-bottom: 50px
    }
}

.header {
    min-height: 56px;
    position: relative;
    margin-top: 50px
}

.title {
    font-size: 30px !important;
}

.title:hover {
    opacity: .5;
}

@media screen and (max-width: 600px) {
    .page-content {
        padding: 50px 0 !important;
    }
}

.nav {
    line-height: 56px;
    font-weight: 700;
}

@media screen and (max-width: 600px) {
    .nav {
        top: 0;
        text-align: center
    }
    .nav .trigger {
        clear: both;
        display: none
    }
    .nav:hover .trigger {
        display: block;
        padding-bottom: 5px
    }
}

.right {
    text-align: right
}

@media screen and (max-width: 600px) {
    .right {
        text-align: center
    }
}

@media screen and (max-width: 800px) {
    .footer-col-1,
    .footer-col-2 {
        width: -webkit-calc(50% - (30px / 2));
        width: calc(50% - (30px / 2))
    }
    .footer-col-3 {
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

@media screen and (max-width: 600px) {
    .footer-col {
        float: none;
        width: -webkit-calc(100% - (30px / 2));
        width: calc(100% - (30px / 2))
    }
}

.page-content {
    padding: 50px 0
}

.page-heading {
    font-size: 20px
}

.box {
    height: 401px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16), 0 3px 6px rgba(0, 0, 0, 0.23);
    border-radius: 3px;
}

.box-hover {
    opacity: 1;
}

.ups {
    overflow-y: hidden;
    background: #876c62;
}

.ups>img {
    display: block;
    max-width: 40%;
    margin: auto;
    /* you can use % */
    height: auto;
    margin-top: 15%;
}

.ups:hover {
    opacity: .6;
}

.njit {
    background: #fff;
    overflow-y: hidden;
}

.njit>img {
    display: block;
    max-width: 80%;
    margin: auto;
    /* you can use % */
    height: 60%;
    margin-top: 15%;
}

.njit:hover {
    opacity: .5;
}

.adamlouis {
    background: #b24ac4;
    overflow-y: hidden;
}

.adamlouis>img {
    position: relative;
    margin: auto;
    top: 50%;
    max-width: 85%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.adamlouis:hover {
    opacity: .6;
}

.design1 {
    background: #EF5350;
    overflow-y: hidden;
}

.design1>img {
    position: relative;
    margin: auto;
    top: 50%;
    max-width: 32%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.design1:hover {
    opacity: .6;
}

.design2 {
    background: #5CE69C;
    overflow-y: hidden;
}

.design2>img {
    position: relative;
    margin: auto;
    top: 50%;
    max-width: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.design2:hover {
    opacity: .6;
}

.development1 {
    overflow-y: hidden;
}

.development1>img {
    position: relative;
    margin: auto;
    top: 50%;
    max-width: 90%;
    -webkit-transform: translateY(-50%);
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
    display: block;
}

.development1:hover {
    opacity: .6;
}

@media screen and (max-width: 600px) {
    .photo {
        height: 100%
    }
}

footer.site-footer p {
    font-size: 13px;
}


/*
  under line links based on http://www.misscarriemah.ca/ 
  which is based on code by Matt Beaudry
  https://codepen.io/mattbeaudry/pen/faKvy

  inline link underline based on http://ericls.com/ */

.inline-link {
    color: #000;
    text-decoration: none;
    display: inline-block;
    position: relative;
    cursor: pointer;
}

.menu-link,
.title {
    margin-right: 20px;
    color: #000;
    text-decoration: none;
}

.menu-link:hover {
    opacity: .5;
}

.inline-link:after {
    background: rgba(30, 215, 96, .2);
}

.inline-link::after {
    background: rgba(30, 215, 96, .20);
    bottom: 1px;
    content: "";
    height: 7px;
    left: 0;
    position: absolute;
    transition: 60ms;
    width: 100%;
    z-index: 10;
}

a.inline-link {
    color: inherit;
    position: relative;
    text-decoration: none;
    transition: 80ms;
}

a.inline-link:hover,
a.inline-link:focus {
    opacity: .5;
}

a.underline {
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.underline:hover,
a.underline:active,
a.underline:focus,
a.underline:visited {
    font-weight: 300;
}

a.underline::before {
    content: " ";
    border-bottom: solid 3px #1B9AB6;
    display: block;
    position: absolute;
    bottom: -3px;
    width: 0%;
    -webkit-transition: all 0.5s ease;
    -moz-transition: all 0.5s ease;
    -ms-transition: all 0.5s ease;
    -o-transition: all 0.5s ease;
    transition: all 0.5s ease;
}

a.underline:hover::before,
a.underline:active::before,
a.underline:focus::before,
a.underline:visited::before {
    border-bottom: solid 3px #1B9AB6;
    left: 0%;
    width: 100%;
}

a.underline.underline::before {
    left: 0%;
}


/* 
.writing_post {
    font-size: 30px;
    color: #000;
}

.writing_post:hover {
    opacity: .5;
}

writing_post:link {
    color: #000;
}

writing_post:visited {
    color: #000;
} */